.product {
    padding: 20px;
    margin: 10px;
    background: #DBDCDB;
    line-height: 22px;
    font-size: 14px;
    font-family: 'PT Sans', sans-serif;
}

.product p {
    margin-top: 16px;
    color: #767776;
}

.product h5 {
    margin-top: 20px;
    color: #434443;
    float: left;
}

.product a {
    margin-top: 20px;
    float: right;
}

.mypaging {
    margin-top: 1.8rem;
    padding-bottom: 2.5rem;
    border-bottom: 1px solid #434443;
}

ul.pagination a.page-link {
    color: #767776;
}

ul.pagination li.active a.page-link {
    background: #767776;
    border-color: #434443;
}

.path {
    margin: 0.9rem 0;
    padding: 0;
    color: #767776;
    cursor: pointer;
}

.productsnav ul li {
    display: none;
}

.productsnav a {
    color: #767776;
}

.text-bottom {
    font-size: 14px;
    line-height: 22px;
    word-wrap: break-word;
    margin-top: 1.8rem;
}

