.myfooter {
    padding: 0;
    background: #767776;
    color: white;
}

.myfooternav li {
    list-style-type: none;
}

.myfooternav li a {
    color: white;
}

.myfooterlogo {
    color: white;
}

.myfooterlogo:hover {
    color: white;
}

.footerlogo {
    width: 35px;
    height: 50px;
}