.wraperheader {
    background: #DADBDA;
    color: #767776;
    font-family: 'PT Sans', sans-serif;
}

header.row {
    margin: 0;
    padding: 0;
}

header a.navbar-brand {
    margin-right: 0;
}

header a.feedback {
    color: #767776;
    border-bottom: 1px dashed #767776;
    text-decoration: none;
}

header div.logo {
    padding-right: 0;
}

header div.phones {
    font-weight: lighter;
    text-align: right;
}