.mynav {
    background: #767776;
    color: white;
    font-family: 'PT Sans', sans-serif;
}

ul.navbar-nav li.nav-item a.nav-link {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.2rem;
    color: white;
}

ul.navbar-nav li.nav-item a.nav-link:hover {
    box-shadow: 0 4px 3px -4px white;
}

ul.navbar-nav li.nav-item a.nav-link:focus, ul.navbar-nav li.navbar-nav a.nav-link:hover {
    box-shadow: 0 4px 3px -4px white;
}

.navbar-toggler {
    cursor: pointer;
}

.wrappernav {
    background: #767776;
}
