$dark_grey: #767776;
$light_grey: #DBDCDB;
$light_grey_text: #FEFFFE;
$grey_text: #A0A1A0;

$number_font: "Open Sans Condensed", sans-serif;
$base_font: 'PT Sans', sans-serif;

$shadow_bottom: 0 4px 3px -4px white;